div{
  float: left;
  color: #536A7C;
  margin: 60px;
}
body{
 background-color: #F8E6CE; 
}
h1{
  color: #6868A3;
  margin-top: 70px;
}
h5{
  color: #6868A3;
}
p{
  width: 500px;
}
footer{
  color: #536A7C;
  clear: both;
}
nav{
  width: 100%;
  height: 35px;
  position: fixed;
  top: 0;
  text-align: center;
  background-color: #b4b5d5;
}
nav>h2{
  display: inline;
  margin: 20px;
}
a{
  color: #6C6D80;
}
a:hover{
  color: 2C2E6F;
}



