div{
  float: left;
  color: #536A7C;
  margin: 60px;
}
body{
 background-color: #F8E6CE; 
}
h1{
  color: #6868A3;
}
h5{
  color: #6868A3;
}
p{
  width: 500px;
}
footer{
  color: #536A7C;
  clear: both;
}
nav{
  width: 100%;
  height: 100px;
  position: fixed;
}



