#left{
  width: 40%;
  float: left;
}
#right{
  width: 40%;
  float: right;
}
article{
  margin: 20px;
  color: #536A7C;
}
body{
 background-color: #F8E6CE; 
}
h1{
  text-align: center;
  color: #6868A3;
}
