section.high {background-color: red;
              color:white;
}
section.medium {background-color:orange;
                color: white;
}
section.low {background-color:gray;
             color: black;
}
section.done {background-color: black;
              color:cyan;}
section {
          border: 5px solid black;
          height:200px;
          width:300px;
          overflow: auto;
          float: left;
  
}
h2 {
    margin:0;
}
ul
{
  margin-bottom: 0;
}


