section.high {background-color: red;
              color:white;
}
section.medium {background-color:orange;
                color: white;
}
section.low {background-color:gray;
             color: black;
}
section.done {background-color: black;
              color:cyan;}
section {
          border: size=2px;
  
}
h2 {
    margin:0;
}
ul
{
  margin-bottom: 0;
}


